.footer{
    background-color: #f2fdff;
    color: #000;
    height:14vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center ;
    padding: 0px 20px 0px 10px;
    width:100%;
    .footerLinkHead{
      padding: 5px;
    }
    .footerLink{
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 20px;
     
    }
    .companyLogo{
      width: 180px;
      height:80px;
    }
  }

  @media(max-width:350px){
    .footer{
      height: unset;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
  