.footer{
    background-color: #f2fdff;
    color: #000;
    height:14vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center ;
    text-align: center;
    padding: 0px 20px 0px 10px;
    width:100%;
    .footerLinkHead{
      padding-top: 5px;
      font-size: 1.4rem;
    }
    .socialMediaLink{
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 20px;
    }
    .footerLink{
      display: flex;
      flex-wrap:wrap ;
      align-items: center;
      a{
        display: block;
        padding-bottom:10px;
        margin-right: 10px;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
      
    }
    .companyLogo{
      width: 180px;
      height:80px;
    }
  }

  @media(max-width:880px){
    .footer{
      height: unset;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .companyLogo{
        margin-top: 10px;
      }
    }
  }
  @media(max-width:576px){
    .footer{
      .footerLink{
        flex-direction: column;
      }
    } 
  }
  